@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #00003c;
  --color-primary-dark: #000028;
  --color-primary-light: #1a1a5c;
  --color-secondary: #f07814;
  --color-secondary-dark: #cc6600;
  --color-secondary-light: #f5a35c;
}

body {
  @apply bg-gray-50 text-gray-900;
}